docs/
*.aux
*.log
*.out
forlatex/*.pdf
forlatex/*.log
forlatex/*.aux
forlatex/*.synctex.gz
forscheme/*.txt
forplots/*.png
forplots/*.jpg
forplots/*.ps
harpoon.sty
forjava/*.class
forjava/*.txt
*.pdf
alex.vim
.vim/.netrwhist
formaxima/.texput.tex
forscheme/sec.scm
