README.html
conditions.tex
trello.txt
main.pdf
*.aux
*.log
*.fls
*.fdb_latexmk
texmathcmds.tex
cond.tex
cond.scm
eqnDF.scm
eqnEulerRep.scm
eqnRod.scm
eqnSelberg.scm
eqnTarasov.scm
eqnWarnaar.scm
eqncor170599.scm
eqncorHermite.scm
eqniF.scm
eqnlm0.scm
eqnmehSpec.scm
eqnpfProp.scm
eqnstz.scm
rimspic2.scm
script.scm
rimspic2.tex
eqnDF.m
eqnEulerRep.m
eqnRod.m
eqnSelberg.m
eqnTarasov.m
eqnWarnaar.m
eqncor170599.m
eqncorHermite.m
eqniF.m
eqnlm0.m
eqnmehSpec.m
eqnpfProp.m
eqnstz.m
