"*":
  "atom-shell-commands":
    commands: [
      {
        arguments: []
        command: "/usr/bin/make"
        name: "compile"
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-2"
      }
    ]
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 15
  "exception-reporting":
    userId: "60c32fc7-3493-4324-8f64-dd14308fc69e"
