  # Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
'.source.email':
  'Pevzner Basic':
    'prefix': 'певзнер'
    'body': """
    Уважаемый Михаил Леонидович!

    ${1:body}

    С Уважением,
    Алексей
    """
  'Kobayashi Basic':
    'prefix':'小林'
    'body':"""
    先生

    ご指導どうもありがとうございます！
    お忙しい中、貴重なお時間を取っていただき、まことに有難うございます。

    ${1:body}


    宜しく願い申し上げます
    アレックス
    """
  'Seminar Room Report':
    'prefix':'ゼミ室'
    'body':"""
    #TO toshi@ms.u-tokyo.ac.jp
    #CC yuichiro@ms.u-tokyo.ac.jp
    #TOPIC D3のアレックス:数理のセミナー室についてご報告${1:num}
    小林先生
    (cc:田中先輩)

    ${2:month}月${3:date}日の${4:time}時ぐらい数理${5:roomlist}セミナー室に学生は1人ずつがいまして、
    その方は登録せずにセミナー室を利用しました。
    部屋${6:lockedroom}のドアが中から閉められました。
    それを報告します。

    証明として、部屋の外の写真を添付します。

    よろしくお願い申し上げます。
    レオンチエフ・アレックス
    #ATTACHMENT /Users/oleksiileontiev/Downloads/rooms.zip
    """
  'English.Polite':
    'prefix':'engpolite'
    'body':"""
    Dear ${1:name}

    ${2:body}

    Sincerely Yours,
    Alex
    """
  'German.Basic':
    'prefix':'Liebe'
    'body':"""
    Liebe ${1:name},
    danke für Ihre E-Mail.
    ${2:body}

    Mit freundlichen Grüßen
    Alex Leontiev
    """
  'Kobayashi Standard reply':
    'prefix':'承知'
    'body':"""
      先生

      ご指導どうもありがとうございます！
      お忙しい中、貴重なお時間を取っていただき、まことに有難うございます。

      メールを頂きました。
      ありがとうございました。
      承知致しました。

      宜しく願い申し上げます
      アレックス
      """
  'Kindergarten talk application':
    'prefix':'幼稚園'
    'body':"""
      ${1:name}様
      ご連絡どうもありがとうございます！
      お世話になっております！

      始めまして。東京大学博士３年生、
      レオンチエフ·アレックスと申します。
      今は国際交流館のA1306部屋に止まっています。
      国籍はウクライナです。
      今の活動に対して非常に興味があります（日本にウクライナ人が少ないので、
      ウクライナの文化が日本であまり知られていないと思いますから）。
      どうやって申し込むべきでしょうか？

      よろしくお願い申し上げます
      レオンチエフ·アレックス
      """
  'church bookmarks':
    'prefix':'закладки'
    'body':"""
      #TO d.pozdnyaev@gmail.com
      #CC denghuaxuan@aliyun.com
      #TOPIC Закладки на ${1:time}
      Отец Дионисий!
      (cc: Дима)

      Отправляю закладки на ${1:time}.
      С ними все нормально?
      Там везде только по два чтения?
      Извините за задержку.

      С Уважением,
      Алексей
      """
  'jsps report':
    'prefix':'jspsreport'
    'body':"""
      出射様
      (cc: 對間様)

      ${1:month}月${2:endday}日に${3:place}から予定通りの便で帰国いたしました。
      出張前のお手続きでいろいろとお世話になり、有難うございました。

      搭乗券の半券を明日、事務室に持参いたします。

      以下のは、学振ための報告になります。これは如何でしょうか？
      ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
      ${1:month}月${4:startday}日から${1:month}月${2:endday}日まで${3:place}で行った
      ${5:name}に参加した。
      表現論と${6:topic}に関する情報を習得しました。
      「${7:talkname}」というタイトルの発表した。
      ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊

      どうぞよろしくお願いします。
      アレックス

      """
