<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Resume</title>
	<meta name="robots" content="noindex, nofollow" />
	<link rel="stylesheet" href="./CV_files/css/CV_engstyle.css" media="all"></link>
	<style type="text/css" media="print">
		body {
			background-color:#FFF;
			border-width:0 0 0 0;
			margin:0;
			width:100%
			}
	</style>
</head>
<body>
	<center>
		<div id="name">Alex Leontiev</div>
		<div id="address">
			2-2-A Aomi, Koto-ku, Tokyo Japan, 135-0064, *(050) 5532-0335* <a href="mailto:alozz1991@gmail.com">alozz1991@gmail.com</a>
		</div>
	</center>
	<!-- <h1>First Last</h1> -->
	<!-- <div id="contact">3A, Your Major, <abbr title="University of Waterloo">UW</abbr>, 1-519-500-8252, <a href="mailto:YOUREMAILADDRESS@uwaterloo.ca">emailaddress@uwaterloo.ca</a></div> -->

	<div class="section">
		<div class="sectionheader">PROFESSIONAL PROFILE</div>
			<ul>
				<li>Bullet one Bullet one</li>
				<li>Bullet two Bullet two</li>
				<li>Bullet three Bullet three</li>
				<li>Bullet four Bullet four</li>
				<li>Bullet five Bullet Five</li>
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">TECHNICAL SKILLS</div>
			<ul>
				[%TECHSKILLS%]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">PROFESSIONAL EXPERIENCE</div>
			<ul>
				<li>Bullet one Bullet one</li>
				<li>Bullet two Bullet two</li>
				<li>Bullet three Bullet three</li>
				<li>Bullet four Bullet four</li>
				<li>Bullet five Bullet Five</li>
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">EDUCATION</div>
			<ul>
				<li>Bullet one Bullet one</li>
				<li>Bullet two Bullet two</li>
				<li>Bullet three Bullet three</li>
				<li>Bullet four Bullet four</li>
				<li>Bullet five Bullet Five</li>
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">PUBLICATIONS</div>
			<ul>
				<li>Bullet one Bullet one</li>
				<li>Bullet two Bullet two</li>
				<li>Bullet three Bullet three</li>
				<li>Bullet four Bullet four</li>
				<li>Bullet five Bullet Five</li>
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">HONORS & AWARDS</div>
			<ul>
				[%HONORS%]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">LANGUAGES</div>
			<ul>
				[%LANGUAGES%]
			</ul>
	</div>
</body>
</html>
