<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Resume</title>
	<meta name="robots" content="noindex, nofollow" />
	<link rel="stylesheet" href="./CV_files/css/CV_engstyle.css" media="all"></link>
	<style type="text/css" media="print">
		body {
			background-color:#FFF;
			border-width:0 0 0 0;
			margin:0;
			width:100%
			}
	</style>
</head>
<body>
	<center>
		<div id="name">Alex Leontiev</div>
	</center>
	<div class="section">
	<div class="sectionheader">Contact Details</div>
		<ul>
			<li>Phone: (050) 5532-0335</li>
			<li>Email: <a href="mailto:alozz1991@gmail.com">alozz1991@gmail.com</a></li>
			<li>Address: 2-2-A Aomi, Koto-ku, Tokyo Japan, 135-0064</li>
			<li>GitHub: <a href="https://github.com/nailbiter">https://github.com/nailbiter</a></li>
		</ul>
	</div>
	</div>
	<div class="section">
		<div class="sectionheader">Professional Profile</div>
			<ul>
				[% FOREACH item IN PROFESSIONALPROFILE%]
   			<li><span>[%item%]</span></li>
	 			[% END %]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">Technical Skills</div>
			<ul>
				[%TECHSKILLS%]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">Work Experience</div>
			[%WORK%]
	</div>
	<div class="section">
		<div class="sectionheader">Education</div>
		[%EDUCATION%]
	</div>
	<div class="section">
		<div class="sectionheader">Publications</div>
			<ul>
				[%PUBLICATIONS%]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">Honors & Awards</div>
			<ul>
				[%HONORS%]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">Certifications</div>
			<ul>
				[%LANGSKILLSCONTENT%]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">Languages</div>
			<ul>
				[%LANGUAGES%]
			</ul>
	</div>
</body>
</html>
