[% MACRO url BLOCK %]
<a href="link">link</a>
[% END %]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>[%VARS.TITLE%]</title>
	<meta name="robots" content="noindex, nofollow" />
	<link rel="stylesheet" href="../CV_files/css/CV_engstyle.css" media="all"></link>
	<style type="text/css" media="print">
		body {
			background-color:#FFF;
			border-width:0 0 0 0;
			margin:0;
			width:100%
			}
	</style>
</head>
<body>
	<center>
		<div id="name">Alex Leontiev</div>
	</center>
	<div class="section">
	<div class="sectionheader">Contact Details</div>
		<ul>
			<li><span>[%VARS.PHONE%]: (050) 5532-0335</span></li>
			<li><span>Email: <a href="mailto:alozz1991@gmail.com">alozz1991@gmail.com</a></span></li>
			<li><span>[%VARS.CURRENTADDRESS%]: [%VARS.ADDRESS%]</span></li>
			<li><span>GitHub: [%url(link="https://github.com/nailbiter")%]</span></li>
			<li><span>LinkedIn: [%url(link="https://www.linkedin.com/in/oleksii-leontiev-8a010952/")%]</span></li>
		</ul>
	</div>
	</div>
	<div class="section">
		<div class="sectionheader">Professional Profile</div>
			<ul>
				[% FOREACH item IN PROFPROFILE%]
   			<li><span>[%item%]</span></li>
	 			[% END %]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">Technical Skills</div>
			<ul>
				[% FOREACH item IN PROGLANGS%]
   			<li><span>[%item.0%]</span></li>
	 			[% END %]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">Work Experience</div>
				[% FOREACH item IN WORK.reverse%]
					[% IF item != null && item.degreename!="Unity Developer" %]
						[%INCLUDE snipsec.template.html 
							uniname=item.description.0 
							degreename= item.degreename
							dateline=MONTHS.${item.month.0}_" "_ (1988+item.year.0)_"-" _ MONTHS.${item.month.1}_" "_ (1988+item.year.1)
							honors=item.honors
						%]
					[%END%]
	 			[% END %]
	</div>
	<div class="section">
		<div class="sectionheader">Education</div>
				[% FOREACH item IN EDUCATION.reverse%]
					[% IF item.type == "GRADUATION" %]
						[%INCLUDE snipsec.template.html 
							uniname=item.uniname 
							degreename=item.degreename
							dateline="0${item.month.0}" _"/"_ (1988+item.year.0)
							honors=item.honors
						%]
					[% END %]
	 			[% END %]
	</div>
	<div class="section">
		<div class="sectionheader">Publications</div>
			<ul>
				[% FOREACH item = PAPERS %]
					<li>[%item.Title%], Alex Leontiev and [%item.COAUTHORS%], 
						[%item.Date.date%]/[%item.Date.month%]/[%item.Date.year%],
						[%item.Journal%],
						available online at <a href="[%item.Link%]">[%item.Link%]</a></li>
				[% END %]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">Honors & Awards</div>
			<ul>
				[% FOREACH item = HONORS %]
					<li>[%item.0%]</li>
				[% END %]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">Certifications</div>
			<ul>
				[% FOREACH item = LANGEXAMS %]
					<li>[%item.description.0%] (taken in [%1988 + item.year.0%])</li>
				[% END %]
			</ul>
	</div>
	<div class="section">
		<div class="sectionheader">Languages</div>
			<ul>
				[% FOREACH item = LANGS %]
					<li>[%item.0%]</li>
				[% END %]
			</ul>
	</div>
</body>
</html>
