<html>
<head>
	<meta charset="UTF-8">
	<title>publications non-reviewed</title>
</head>
<body>
	<table border="1">
		<tr>
		[% FOREACH item = PUBLICATIONS_UNREV.HEADERS %]
			<th>[%item%]</th>
		[% END %]
		</tr>
		[% FOREACH item = PUBLICATIONS_UNREV.RECORDS %]
			<tr>
				[% FOREACH hn = PUBLICATIONS_UNREV.HEADERS %]
				<td>
					[% IF hn=='Link'%]
						<a href="[% item.$hn %]">[% item.$hn %]</a>
					[% ELSE %]
						[% item.$hn %]
					[% END %]
				[% END %]
				</td>
			</tr>
		[% END %]
	</table>
</body>
</html>
