#* * * * * /Users/nailbiter/bin/fixup_wifi 2>>/tmp/fixup_wifi.log.txt 1>>/tmp/fixup_wifi.out.txt
45 18 * * 1-5 env GOOGLE_APPLICATION_CREDENTIALS="/Users/nailbiter/.config/gcloud/legacy_credentials/dtws_oleksii_leontiev@oaklawn.co.jp/adc.json" /usr/local/bin/python3 /Users/nailbiter/for/forpython/fordatawise/bq_log.py --slack 2>/tmp/bq_log.log.txt
0 10 * * 1-5 cd /Users/nailbiter/for/forpython && . .envrc && ./venv/bin/python3 ./fordatawise/non-reusable/print-hourly-work-time.py 2>/tmp/print_hourly.log.txt
0 10 * * 1-5 cd /Users/nailbiter/Documents/datawise/pipeline/composer/olm-prd &&  git checkout local-feature-319-old-tables-autoremoval && . .envrc && ../venv/bin/python3 ./bin/remove-old-bigquery-tables.py fetch && ../venv/bin/python3 ./bin/remove-old-bigquery-tables.py print;
1 10 * * 1-5 cd /Users/nailbiter/Documents/datawise/ds-work/20210519-ds-pipeline-checkup && . .envrc && ./run.sh
0 10 * *  1-5 cd /Users/nailbiter/for/forpython/trello && . .envrc && /usr/local/bin/python3 ./trello.py --debug high create-card-from-description
