export CARD_URL="https://trello.com/c/peUm9hhf"
export TRELLO_LIST_ID="5ba121d9717eb68f1713243a" #habits
export TODO_TRELLO_LIST_ID="5a83f3449c950b04c540ba66" #todo
export TIME_KOSTIL_LIMIT=10
#source_env_if_exists .envrc.private

source ../.envrc
test -f .envrc.private && source .envrc.private
